@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif !important;
}

.sidemenu {
  @apply flex items-center gap-8 py-3 px-10 hover:bg-slate-100 duration-200 transition w-full font-bold;
}

.iconbutton {
  @apply p-2 hover:bg-slate-50 rounded-full transition duration-200;
}

.selectButton {
  @apply block py-3 px-5 hover:bg-slate-50 w-full text-left;
}

.listDetail {
  background-image: url("./img/Mask\ group.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  @apply w-6 h-6 rounded-full border border-black;
}

.people {
  @apply py-4;
}
.people:not(:last-child) {
  @apply border-b border-gray-300;
}

.dialog {
  @apply fixed flex top-0 left-0 bottom-0 right-0 z-[9999] bg-black bg-opacity-50 items-center justify-center;
}

.dialog-content {
  @apply min-w-80 max-w-[450px] md:w-1/2 p-5 md:py-5 md:px-10 rounded-md bg-white;
}

.button-kehadiran {
  @apply p-2 hover:bg-slate-100 transition duration-200;
}

.button-kehadiran:not(:last-child) {
  @apply border-r-2 border-black;
}
